<!-- src="blob:https://www.customvision.ai/43c1b66a-1a96-4cfc-b9dd-9f1b32d57b39" -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    .center-m {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        transform: translate(-50%, -50%);
    }
    .button {
        position: absolute;
        top: 300%;
        right: 2%;
    }

    </style>
</head>
<body>
    <div class="container center-m">
        <!-- <div class="bg"></div> -->
        <div class="card text-center">
            <h5 class="card-header">predictive</h5>
            <div class="card-body">
                <img src="https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_960_720.jpg" height="200">
                <a href="#" class="btn btn-primary" style="margin-top:40%;">วินิจฉัย</a>
            </div>
        </div>
  
    </div>
    
        <img src="https://www.tech2biz.net/sites/default/files/styles/juicebox_large/public/assets/users/user1/med2.png?itok=9-7dGWki width="1600"  height="600">
        <a href="#" class="btn btn-primary button">Go somewhere</a>

   
</body>
</html>
 