<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    .center-m {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .button {
        position: absolute;
        top: 300%;
        right: 2%;
    }

    </style>
</head>
<body>
    <div class="container center-m">
        <!-- <div class="bg"></div> -->
        <div class="card text-center">
            <h5 class="card-header">ยินดีต้อนรับ</h5>
            <div class="card-body">
                <h5 class="card-title">เข้าสู่ระบบวินิจฉัยโรคมะเร็งปอดจากภาพซีทีแสกนด้วยดีพเลิร์นนิ่ง</h5>
                <p class="card-text">System Diagnosis of Lung Cancer to image with Deep Learning Algorithm</p>
                <a href="#" class="btn btn-primary">วินิจฉัย</a>
            </div>
            <!-- <img src="https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_960_720.jpg" height="200"> -->
        </div>
        <!-- <div class="card text-center">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div> -->
 
    </div>
    
        <img src="https://www.tech2biz.net/sites/default/files/styles/juicebox_large/public/assets/users/user1/med2.png?itok=9-7dGWki width="1600"  height="600">
        <a href="#" class="btn btn-primary button">Go somewhere</a>

   
</body>
</html>
 