<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    .center-m {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        transform: translate(-50%, -50%);
    }
    .button {
        position: absolute;
        top: 300%;
        right: 2%;
    }

    </style>
</head>
<body>
    <div class="container center-m">
        <!-- <div class="card text-center">
            <h5 class="card-header">ยินดีต้อนรับ</h5>
            <div class="card-body">
                <h5 class="card-title">เข้าสู่ระบบวินิจฉัยโรคมะเร็งปอดจากภาพซีทีแสกนด้วยดีพเลิร์นนิ่ง</h5>
                <p class="card-text">System Diagnosis of Lung Cancer to image with Deep Learning Algorithm</p>
                <a href="#" class="btn btn-primary">วินิจฉัย</a>
            </div>
        </div> -->
        <div style="background: white;padding: 15px;">
            <form>
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
        <img src="https://www.tech2biz.net/sites/default/files/styles/juicebox_large/public/assets/users/user1/med2.png?itok=9-7dGWki width="1600"  height="600">
        <a href="#" class="btn btn-primary button">Go somewhere</a>

   
</body>
</html>
 